upstream ruby {
# server 127.0.0.1:8082;
  server unix:/srv/ror-blog/shared/unicorn.sock fail_timeout=0;
}

server {
  listen 80 default_server;
  
  root /srv/ror-blog/current/public;

  server_name ruby.aaaj.ru;

  location / {
    try_files $uri @app;
  }

  location @app {
    proxy_pass http://ruby;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;
  }

error_page 500 502 503 504 /500.html;
client_max_body_size 4G;
keepalive_timeout 10;
}
